.canvas {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.mask {
  margin-top: -400px;
  position: relative;
  z-index: 100;
  background: white;
  height: 360px;
  width: 100%;
  mix-blend-mode: screen;
  display: block;
  pointer-events: none;
}
